[2018-08-24 07:06] bonyadmitr opened #5 ""Go to product 02" navigation"
"Star tab -> Go to product 02" send us to the circle tab.
Is it normal for example?

Also another case:
"Square tab -> Go to Star (logged in) -> Press to Square tab -> Go to split"
Star tab removed. Same question as above.

[2018-08-24 09:47] ekazaev commented on #5
Yes. This is how product is configured.
It demmands to be shown inside of the circle tab, no matter where the user
currently is. This is part of the test - to test that it is possible to
demand view controller to be presented in a particular tab.

Yes. Split view controller replaces the root view controller of the window
so tab bar deallocates. It is not the route composers task to keep the
state

[2018-08-24 09:50] #5 closed

[2018-08-24 10:31] bonyadmitr commented on #5
Thanks!

[2019-06-24 14:35] bystritskiy opened #25 "Add support to Swift 5.0"

[2019-06-25 20:45] ekazaev commented on #25
@bystritskiy I dont really understand what is the issue with the Swift 5.0 support?
<img width="771" alt="Screenshot 2019-06-25 at 21 44 51" src="https://user-images.githubusercontent.com/20243258/60131991-8b52f580-9792-11e9-8fc8-e4359fdcbd9c.png">

[2019-06-26 03:25] lts1610 opened #26 "How to implement AuthorizationInterceptor?"
I have an authorization's scenario as below:

1. The NavigationController have LoginViewController as rootViewController.
2. In the LoginViewController, the user taps on the SignUp button, the system navigates to SignUpViewController.
3. In the SignUpViewController, the user fills their's information, then he taps on the register button, if success, the system navigates to HomeViewController.

Exp

[2019-06-26 04:06] lts1610 opened #27 "Could you provide a MVVM+RxSwift example?"

[2019-06-26 11:21] ekazaev commented on #27
You need to describe me what exactly you want to see in this example? From my understanding route-composer sits aside from the app architecture. If you need to navigate somewhere, you call the router. And you can wrap it in any architecture you want. And call your method/class on top of it. If you need to make some signal at the end of navigation - call it in the completion method of the `Router`.

[2019-06-26 11:25] ekazaev commented on #26
You do not need any interceptor here. You have a direct action. User taps the button you call the configuration to present `SignUpViewController`. When user enters details and if it succeeds - you call the configuration to present `HomeViewController`.

[2019-06-26 11:49] lts1610 commented on #26
In my case, the AuthFlow as above is called everywhere if authState is unauthorized, HomeViewController is only one of it.

[2019-06-26 12:39] ekazaev commented on #26
[code]
Something like this. Of course it has no sense to keep config in the view controllers, but if we simplify it the code will be something like this.

[2019-06-26 12:51] ekazaev commented on #27
[code]
I assume it should be something like this. But in general there are thousands of way to implement that. I am not 100% sure what outcome you expect to get in RxSwift.

[2019-06-26 13:01] #25 closed

[2019-06-26 14:43] ekazaev commented on #26
Also, you can reuse LoginInterceptor for the cases where navigation is not involved at all.
For example, lets assume you have a favourite button on the product(or whatever) screen. Only authorised user can add a product to his favourites. If user is not authorised, you have to offer him to login or signup. In this case no navigation process involved. But you can reuse `LoginInterceptor` without us

[2019-06-26 15:07] lts1610 commented on #26
Great! Thank you so much. 😃

[2019-06-26 15:20] #26 closed

[2019-06-26 15:30] lts1610 commented on #27
I see that each `ViewController` have either a `Context` or not. In MVVM, could we consider it as a `ViewModel`?

[2019-06-26 15:56] lts1610 commented on #27
And I have a scenario:
1. The `ViewControllerA` have a `ViewModelA`. The `ViewModelA` have a `reload` PublishSubject.
2. The `ViewControllerB` have a `ViewModelB`. The `ViewModelB` have a `result` PublishSubject.
3. In the `ViewControllerA`, a user taps on a `next` button, the system navigates to `ViewControllerB`
4. The user does something on `ViewControllerB` and the user taps on a `done` button

[2019-06-26 16:01] ekazaev commented on #27
No, context is some data that you have to pass from one screen to another. While view model is something that represents the whole screen itself.
Lets say you have a product list, and you need to navigate to some specific product screen when user selects it in the list. It mean that the context of the product screen is a product id type. The `String` type for example.

[2019-06-26 16:47] lts1610 commented on #27
Okay, I got it. Please help me to resolve the scenario as above.

[2019-06-26 17:10] ekazaev commented on #27
I am not sure about your particular view model implementation, but you need to make your `ViewModelA` be aware of the actions `ViewModelB`. It can be implemented in a lot of ways.
One of them is to pass a subscriber to the events of the `ViewModelB` with the `Context`. But it also depends on what exactly you are doing. It might not be the best option in your case.

What i want to say, that the thi

[2019-06-26 17:31] #27 closed

[2019-06-27 06:58] lts1610 commented on #27
@ekazaev
I am considering applying it to my project. If have any another issue, I'll feedback for you.
Thank you so much.

[2019-06-27 12:51] benconstantine39 opened #28 "Help finding a contained navcontroller within UISplitView"
I can't figure out how to push a detail view _onto_ a split view's current detail view. The split view's detail view hierarchy is a navigation controller with a view, but I can't get the router to find the navigation controller (highlighted in the attached screenshot):
[code]
In the `detailTwo` assembly, if I use the commented out lines `UINavigationController.push from detailOne.expectingContaine

[2019-06-27 13:43] benconstantine39 commented on #28
I got it to work finally by creating a custom container action similar to `UISplitViewController.PushToDetailsAction` and plucking out the nav controller I wanted to push on to within `perform(embedding: in:)`. Not sure it's the best way, but works for now 👍🏻

[2019-06-27 15:18] ekazaev commented on #28
@benconstantine39 This is how it should be done at the end. I remember i had to do the same manually myself couple of years ago. `UISplitViewConnroller` breaks a lot of rules of UIKit, so it need some custom approaches depending on the layout and the custom behaviour. It could've been done with the custom action or using the custom finder that will find second `UINavigationController` in the hiera

[2019-06-27 15:26] ekazaev commented on #28
It would be nice if you can contribute your action in to the library

[2019-06-27 16:09] ekazaev commented on #28
@benconstantine39 Also, i am not aware if you know about this option. You can combine default finders results to be able to make a complicated search. For example a finder that will find second `UINavigationController` may look like this:
[code]
or this:
[code]
Of course, in case of `UISplitViewController` you will need to search in the 2 different ways depending if it is collapsed or not.

But i

[2019-06-27 16:12] #28 closed

[2019-06-27 17:19] benconstantine39 commented on #28
Sure, I'd be happy to contribute the action I wrote. Thanks for your quick feedback!

[2019-08-23 14:45] 0rtm opened #33 "Route Composer does not find a ViewController inside a tab bar when it is being pushed"
I really like your framework. It works great. However I found a small bug.

I have the following setup:

[code]

Each `ViewController` has `NavigationContext` object that is `Equatable`. This context is set on the `TabBar` too.

When tabbar is pushed, first `NavigationController` (Nav1) is being hidden.
When tabbar is popped, first `NavigationController`(Nav1) is shown again

Here is routes config

[2019-08-23 14:51] ekazaev commented on #33
Hi @0rtm and thank you. Ill have a look later today and will try to come with some answer asap.

[2019-08-23 15:15] ekazaev commented on #33
@0rtm It is not a bug basically, but a feature of the UIKit i assume. I tried to keep actions clean without any non action specific code. But it seems that you have that special case when you need to actually have an async push action for the navigation controller. UIKit does not allow to iterate through the stack of the view controllers that has not been fully built in yet.
Basically if i underst

[2019-08-23 15:34] ekazaev commented on #33
@0rtm But i have to admit, i just built a case to reproduce you issue, and i could not. Even not async push worked fine for me to find the enclosed `RedViewController` inside of the TabBar that is being pushed. Could it be that you have some other issue? Could it be that the `TabBarFactory` fails?

[2019-08-23 15:41] 0rtm commented on #33
Here is my tabbar factory code
[code]

This is how I handle url
[code]

The bug happens when context is different and Route Composer needs to rebuild the entire stack

[2019-08-23 15:42] ekazaev commented on #33
@0rtm I actually started to suspect that i gave you the wrong explain at the begining. And ther eis something wrong with the `ClassWithContextFinder<RedViewController, NavigationContext?>()` in your case. But i build the stack that you described and i cant reproduce the situation you are facing.
Basically if you see the logs you provided fro the situation you described:
The bug happens when RedVie

[2019-08-23 15:50] ekazaev commented on #33
@0rtm
Now i see. It is not a problem of action or the route composer.
Lets discuss the scenario.
- You have a `RedViewController` visible.
To simplify lets say that the context type is Int, and RedViewCOntroller has it equal to 1.
- User deeplinks to RedViewController with the context equal to 2.
- ClassWithContextFinder sees the RedViewController, but it context is equal to 1, so finder says - no

[2019-08-23 15:54] ekazaev commented on #33
`ClassWithContextFinder` has a very specific use case for the if you can have the multiple view controllers instance in your app. Like imagine that you display multiple products view controller with differnt product id's in the UINavigationStack. THis finder will be able to answer the question if such product is present or not, and if it is not present - there is a factory that will take care of i

[2019-08-23 15:55] ekazaev commented on #33
And you can see in your log
[code]
 Your stack is being rebuild every time.

[2019-08-23 15:56] ekazaev commented on #33
Please tell me if i understand correctly your business needs, then we can proceed.

[2019-08-23 16:06] ekazaev commented on #33
@0rtm If you actually need to rebuild the whole stack in this case (i am not sure why, but lets say it is so). You need to put a break point in to `func isTarget(for context: Context) -> Bool` implementation inside of the `RedViewController` and it must have 2 calls, first when the route composer just look for the such view controller, second when RouteComposer just rebuilt the whole stack and wha

[2019-08-23 17:04] 0rtm commented on #33
@ekazaev I my case I can to rebuild the entire stack. In my case user selects account first and then goes to the appropriate tabbar

[2019-08-23 17:08] ekazaev commented on #33
@0rtm Ok, let assume it is so. Then it seems that there is something with the isTarget/Equatable implementation. Basically you need to try to do what i asked:
You need to put a break point in to func isTarget(for context: Context) -> Bool implementation inside of the RedViewController and it must have 2 calls, first when the route composer just look for the such view controller, second when RouteC

[2019-08-23 17:12] 0rtm commented on #33
@ekazaev I just tried it, Red VC isTarget is called only once

Implementation is very simple
[code]

[2019-08-23 17:14] 0rtm commented on #33
Here is `NavigationContext` implementation:

[code]

[2019-08-23 17:16] 0rtm commented on #33
I think the problem has something to do with push animation.
I tried the same setup but instead of pushing tabbar it replaced root view controller. In this case it was able to select correct tab when context is new

[2019-08-23 17:19] ekazaev commented on #33
@0rtm can you send me your test project if it is possible?

[2019-08-23 18:12] ekazaev commented on #33
@0rtm so i wont build the stack myself. It can be a bug, or it can be the issue I mentioned before with the action. Unfortunately I deleted the code as I thought it’s not the case

[2019-08-23 18:43] 0rtm commented on #33
@ekazaev Here is the example project https://github.com/0rtm/RouteComposerBug.
To reproduce the bug try running these commands in terminal
[code]

[2019-08-23 20:23] ekazaev commented on #33
@0rtm I see the issue.
So basically Router asks UIKit to run next commands:
navigationController.popToViewController(accountViewController, animated: true)
and then after
navigationController.pushViewController(redViewController, animated: true)
And this is what brings a confusion as UIKit is not always works fine with transactions. But i will be able to fix it and will come with the fix shortly.

[2019-08-23 20:40] ekazaev commented on #33
@0rtm https://www.dropbox.com/s/vwpl3so5kqykhit/BugFix.mov?dl=0 the behaviour after the fix

[2019-08-23 21:37] ekazaev commented on #33
@0rtm New 2.1.4 version of RouteComposer is released and the issue you are facing is fixed there. It is also covered by the UI test so it wont appear in future.

Thank you for help.

If you'll have any other issues or questions, please do not hesitate to open another issue.

[2019-08-23 21:46] ekazaev commented on #33
@0rtm As a suggestion:
1. You can replace `TabBarFactory` with `CompleteFactoryAssembly` to avoid writing a boiler plate code. But do not forget to use some kind of `ContextTask` so the generic factory would pass the Context instance deeper to its children.
2. In the configuration of the `accountSelector` step there should be `.from(GeneralStep.root())`

[2019-08-23 22:03] 0rtm commented on #33
@ekazaev thanks! You are doing a great work

[2019-08-24 00:02] ekazaev commented on #33
@0rtm I was actually in rush and did not notice that i was testing your code with my modifications :(

Youll still have to update to even newer version 2.1.5 and use a tweak `CATransaction.wrap(...)` in your configuration:
[code]
When the push and then pop happens one after another `UINavigationController` does not hold the pushed view controller until the end of the animation (which is for some r

[2019-08-24 00:02] #33 closed

[2019-08-26 19:28] 0rtm opened #35 "Route Composer does not show modal view controller presented from tabbar when tabbar is pushed"
Here is the repo containing code with steps to reproduce the bug: https://github.com/0rtm/RouteComposerBug

To reproduce the bug run the following commands:
[code]

 Setup is same as in bug 33 but with addition of showing modal view controller from one tab
[code]
  Route composer is unable to navigate to Modal View Controller when context is different.

 Here is the console output:
[code]

[2019-08-26 20:23] ekazaev commented on #35
@0rtm Thank you. I do not really know how to solve that issue. What you are facing is tha lack of transactional support in UIKit :( My best suggestion here is to use a delay. AFAIK people use it for such complicated cases without route composer.  I cant come with the better solution now, as apple does not provide the way to find out how long pop/push animation takes and UINavigationController is n

[2019-08-26 20:37] ekazaev commented on #35
Your second option not to use any tricks but update change the configuration to avoid the UIKit issue. It will give you a sligtly different animation but the steps will avoid pop/push animation sequence:

[code]

[2019-08-26 20:40] ekazaev commented on #35
@0rtm Please let me know your oppinion

[2019-08-26 22:15] ekazaev commented on #35
@0rtm Remove all the CATransactions please. It should wrap only actions that support them properly. Not the modal presentation for instance. Second configuration works fine for me.

[2019-08-26 22:37] ekazaev commented on #35
@0rtm You are welcome. Ill mark this issue as `wont fix` as there is no proper ways to make pop and push animation without side effects. But ill keep it in mind for the future improvements if i can make Router to be wise enough and rewrite the configuration automatically.
Thank you for help

[2019-08-26 22:37] #35 closed

[2019-08-27 10:48] ekazaev commented on #35
@0rtm I did some investigations today, and it seems that there is no straightforward way to achieve expected behaviour because of the UIKit limitations. The Router knows how to merge actions together to avoid such situations when it builds view controller stack itself, but it can not be achieved with making the view controller visible in the current stack because different containers make view con

[2019-09-04 19:33] benronicus opened #37 "UINavigationController push animations breaking"
After a couple of routings have been successfully performed, animations stop working for all navigation controller pushes. I can't tell what causes it because it seems to begin randomly, but thereafter it's an app-wide problem until I restart the app. Basic app structure is a tab bar controller with split view controllers in some of the tabs. I'm on iOS 13 beta and Xcode 11.

[2019-09-05 10:04] ekazaev commented on #37
@benronicus I would love to help you but I need more details about this issue. UI tests are passing on iOS 13 beta and it works in our project as well.
Are you on the latest version? Does it happen on iOS 12? Can you provide a test project?

[2019-09-05 17:35] ekazaev commented on #37
@benronicus
I created a branch where in example app i tried to reproduce the configuration you described. Please see `CitiesConfiguration`.

You can try to run deep-links from terminal
[code]

I could not reproduce the issue described neither on iOS 12 nor iOS 13.
Can you please play around with it and provide me steps to reproduce your issue.

Also, in your app please check the logs. The issue yo

[2019-09-05 17:57] benronicus commented on #37
Great, I'll look into this over the weekend in depth. Thanks for the quick feedback!

[2019-09-05 18:03] benronicus commented on #37
Do you have a link to Apple's API change to UISplitViewController?

[2019-09-05 18:05] ekazaev commented on #37
It is not an API change. It is a behaviour change. I see that in ios 12 it keeps 2 navigation controllers. and IOS 13 it removes it during a transition from a compact-width size class to a regular-width size class.

[2019-09-05 18:20] ekazaev commented on #37
@benronicus
The code in the branch in iOS 12:
https://www.dropbox.com/s/2gok2lq8u81he4b/SplitIOS12.mov?dl=0

The same code on iOS 13:
https://www.dropbox.com/s/xuxb24zrbjxvny3/SplitIOS13.mov?dl=0

So event there is no change in the API of the `UISplitViewController` there are the changes in the behaviour.

[2019-09-05 18:29] ekazaev commented on #37
@benronicus
So, first i would recommend you to check that you do not have warnings like `unbalanced calls to begin/end appearance transitions` or similar. It can be the result of your implementation of `UISplitViewControllerDelegate`.
Second, checkout the branch and try to reproduce the issue you are having using deeplinks from the terminal. Probably you will have to update the `UISplitViewControl

[2019-09-09 16:53] ekazaev commented on #37
@benronicus Do you have any update?

[2019-09-09 18:01] benronicus commented on #37
Yes, please close this issue as not a bug. Found it and it had nothing to do with RouteComposer. Sorry for the goose chase!

[2019-09-09 18:01] #37 closed

[2019-09-09 18:06] ekazaev commented on #37
@benronicus Cool. Thank you

[2020-01-07 22:32] nikislyak opened #42 "SwiftPM support missing"
Please add Package.swift manifest to make it accessible through SwiftPM

[2020-01-08 10:48] ekazaev commented on #42
@nikislyak It is in my roadmap. Should be there in a week or so.

[2020-01-08 13:48] ekazaev commented on #42
@nikislyak The pull request is ready. Can you please have a look? I tested it in the mock app with a package manager and it worked for me.
Thank you

[2020-01-08 17:12] nikislyak commented on #42
@ekazaev Thank you so much. I've also tested on my test project and it works fine!

[2020-01-08 17:12] #42 closed

[2020-01-09 11:44] ekazaev commented on #42
You are very welcome @nikislyak! Let me know if you will have any issues.

[2020-01-10 22:32] ericyanush opened #44 "Incorrect tag for Swift Package manager"
Swift package manger always tries to resolve versions using semantic versioning, so when using the tag 2.5, it automatically tries to resolve the tag as 2.5.0, which doesn't exist, so resolving the package fails.

Tested with Xcode 11.3

[2020-01-13 11:42] ekazaev commented on #44
@ericyanush Hi. Just added a tag. Can you please confirm that it works as expected?

[2020-01-13 16:55] ekazaev commented on #44
@ericyanush It works for me as expected
<img width="280" alt="Screenshot 2020-01-13 at 16 54 34" src="https://user-images.githubusercontent.com/20243258/72275219-67b7a580-3625-11ea-8414-22fb8ebb1357.png">

[2020-01-14 04:08] ericyanush commented on #44
The new tag works as expected. Thanks for fixing that so quickly!

[2020-01-14 04:08] #44 closed

[2020-01-27 22:24] 0rtm opened #46 "Modal ViewController is not dismissed when presented using overCurrentContext style"
When a `ViewController` is presented modally using `overCurrentContext` style, it is not dismissed by `route-composer` when further navigation happens.

Problem happens only if I use modal presentation over current context
[code]

In case if same `DestinationStep` uses `fullScreen` instead of `overCurrentContext` presentation style the issue does not occur.

Link to the repo with issue: [https://g

[2020-01-29 12:35] ekazaev commented on #46
@0rtm Thank you. Ill try to have a look asap. If you can give me some insight or you know the the potential fix - please let me know,

[2020-01-29 22:55] 0rtm commented on #46
Looks like this has something to do with a view controller being inside of tabbar.
I tired a simple scenario when a modal view controller is shown using `overCurrentContext`. It is properly dismissed when navigation happens

[2020-01-30 15:08] ekazaev commented on #46
@0rtm Yeah it seems so, I tried to remove such viewController manually and got no result. It seems that it is impossible to hide multiple view controllers is one go if one of them is `overCurrentContext `. Working on it

[2020-02-01 21:07] ekazaev commented on #46
@0rtm I had a proper look today and it seems that it is not exactly a bug.
The problem with the `. overCurrentContext` is that view controller that is presented is not being integrated into the graph of view controllers. What I mean is that the property `presentedViewController` of the view controller that presented it is nil. So basically it does not exist for the route composer and it can find i

[2020-02-01 22:31] ekazaev commented on #46
@0rtm I had a proper look today and it seems that it is not exactly a bug.
The problem with the `. overCurrentContext` is that view controller that is presented is not being integrated into the graph of view controllers. What I mean is that the property `presentedViewController` of the view controller that has presented it is nil. So basically it does not exist for the router and it can not find i

[2020-02-01 23:14] 0rtm commented on #46
I have the following use case.
There is a screen that can only be shown when its data was loaded beforehand. It cannot trigger a network call by itself. 
So when a deep link comes in, sometimes it is necessary to wait until data is loaded. To handle this use case I show a loading screen. To make it look nice I tried to show it over current view controller with some styling applied.
 When loading i

[2020-02-02 00:39] ekazaev commented on #46
@0rtm  Interesting approach. What if instead you'll create a custom presentation controller `UIPresentationController` and return `false` from `shouldRemovePresentersView`. I have the feeling it should give you exactly the same behaviour that you can have semitransparent view controller over your other view controllers. My only concern is that it will block the entire UI.
If it is not the expected

[2020-02-02 01:20] #46 closed

[2020-02-02 01:42] ekazaev commented on #46
@0rtm Version 2.5.2 is released. The ability to select presenting view controller was added to the modal presentation action. You can try it out.

[2020-02-25 15:58] Elaz-viz opened #48 "Help with some switch assembly..."
Hi, I'd really love some help in the following scenario, I couldn't seem to figure it out myself or with the docs, any help would be greatly appreciated:

assuming I have:
ConversationsListViewController: UIViewController
ConversationViewController: UIViewController
ConversationContext (the context for both the above)

and I want this scenario for presenting the ConversationViewController:

[code]

[2020-02-25 18:09] ekazaev commented on #48
Hi @Elaz-viz

I understand your configuration. The only thing that you are missing is that you actually want want there 2 different actions in one configuration chain. Basically replacing view controller in the first case, and push in two others. So your config should start from `SwitchAssembly` rather have it in the middle of the chain.

Something like this

[code]
Ill come back to you with a pro

[2020-02-25 18:11] ekazaev commented on #48
Hi @Elaz-viz

I understand your configuration. The only thing that you are missing is that you actually want want there 2 different actions in one configuration chain. Basically replacing view controller in the first case, and push in two others. So your config should start from `SwitchAssembly` rather have it in the middle of the chain.

Something like this

[code]
Ill come back to you with a pro

[2020-02-25 18:23] ekazaev commented on #48
@Elaz-viz

Hi. I see your issue. I belive thisi is how it should be:

[code]

You are expecting the appropriate `UINavigationController` to be in ClassFinder<ConversationsListViewController, ConversationContext>(options: .currentAndDown)

Please let me know if it does not work. Ill chek it out when ill be by the computer

[2020-02-25 19:00] Elaz-viz commented on #48
@ekazaev

Thanks for the quick reply!
Yes, the expecting case seems like exactly what I need, and your suggestion compiles as is :) The issue though, is that this case hits, but the new view controller isn't pushed. It just pops the current one (which is  expected) and doesn't push the new one.
Iv'e tried to catch an error, but no error is thrown.
However, once I push another conversation into the

[2020-02-25 19:15] ekazaev commented on #48
I’ll have a better look as well when ill be by the computer. Can you please enable logging of what the router doing there and paste here the log of its decisions here when it just pop but does not push. It will help me to investigate your issue

[2020-02-25 19:56] Elaz-viz commented on #48
my finder:
[code]
and the logs say:
[code]
Which suggests that the find process (of the list view controller) succeeds, but nothing happens after that.

[2020-02-25 20:19] Elaz-viz commented on #48
In case you need it, here is the log for when I manually navigate to a conversation after the log above (and see the push of the previous attempt being pushed after my manual one:
[code]

[2020-02-25 20:24] Elaz-viz commented on #48
Also, just making sure you understood that `ConversationsListViewController` isn't a navigation controller, it's a view controller on the stack, as a root view controller of a navigation controller.

[2020-02-25 20:46] Elaz-viz commented on #48
Oh, I actually found a bug in NavigationControllerAdapter that causes this situation, it has to do with the CATransaction that hangs forever and doesn't fire the completion if you're not animating the transition. My local fix fixed it and everything works perfectly now - I'll issue a PR soon.

[2020-02-25 20:57] Elaz-viz commented on #48
https://github.com/ekazaev/route-composer/pull/49

[2020-02-26 08:32] ekazaev commented on #48
Fantastic. Thank you

[2020-02-26 09:13] ekazaev commented on #48
Yeah it clearly seen by the log that the Router stops and waits for something that will never happen, which is the bug you fixed.

[2020-02-26 10:04] ekazaev commented on #48
UIKit does not stop to surprise me.
This case is covered by the ui test and it works as expected, so this is why it has never revealed before.
https://www.dropbox.com/s/vnx9835vt1mke7t/CATransaction.mov?dl=0
Ill release a new version asap

[2020-02-26 10:21] ekazaev commented on #48
New version 2.5.3 is released and contains your fix.
Ill close this issue.
Let me know if you need any help or youll bump into another issue

[2020-02-26 10:21] #48 closed

[2020-03-19 06:39] ArtSumin opened #51 "How get data from dismiss?"
My secondVC have StepAssembly with

[code]
how get this context in firstVC?
I am using this as(but i dont like this way):
[code]
into method call dismissContext:

[code]
Please show true way for that case.

[2020-03-19 06:50] ArtSumin opened #52 "Use .from(OtherDestinationStep) only with same context?"
I want to use a view controllers chain in one navigation controller. I have to use the same context for each view controller on the stack. How to be in this case? Use type Any for context and later convert to the desired type?

[2020-03-19 12:42] ekazaev commented on #51
Hi @ArtSumin

I have the feeling that I do not understand the issue here. Can you give some more details? And what is `contextNew` there

[2020-03-19 12:48] ekazaev commented on #52
@ArtSumin

You can use `Any` or `Dictionary` or any other type. But unless your navigation is completely dynamic I would strongly advice agains it. Most likely with a wider view on your business task you may come with the right answer.

I'll give an example that helps some people.

Lets say you have a booking app that has a home screen, a hotel screen and the room screen.
- Home screen doesn need

[2020-03-23 05:23] #52 closed

[2020-03-23 05:32] ArtSumin commented on #51
Sorry, `newContext` misprint `context` is true. I want to know the correct way to get data from the presented view controller. An example: `firstVC` present modaly `secondVC,` `secondVC` have `DismissalTargetContext`, how i can read that context in `firstVC` after` secondVC `is complete? Sorry, my english is bad )) 🇷🇺

[2020-03-23 18:55] ekazaev commented on #51
Ah do not worry about your English. It is an eternal process to improve it:)
So I hope I got you:

Basically you can try it yourself in the example app: Please replace `ColorViewController` with the next implementation:

[code]

and then in `ExampleScreenConfiguration` change this line:

[code]

A `context` here will have the value that you provided in `@objc func doneTapped() { dismissViewControl

[2020-03-23 18:56] ekazaev commented on #51
@ArtSumin Let me know if you have any other questions

[2020-03-24 19:26] vBoykoGit opened #53 "Is it compatible with swiftUI?"
Could you provide some examples of routing and building view with swiftUI?

[2020-03-24 19:53] ekazaev commented on #53
@vBoykoGit It is partly compatible already, as `SwiftUI` still sits within `UIViewController`s. And `RootComposer` operates with them. Just default `Finder`s and `Factoriy`ies needs to be tweaked though. I did couple experiments. But as imho `SwiftUI` is still in a *Proof of concept* mode I haven't went further yet, so I do not have anything production ready. Sorry about that. But, with this lockd

[2020-03-24 20:06] ekazaev commented on #53
I will try to add something here. I had it stashed somewhere.

[2020-03-24 20:36] ekazaev commented on #53
@vBoykoGit I found something for you

Factory/Finder will look like this:
*I wrote with context to be equatable. But I am sure you can adapt it to be used with any type of context by the example with the finders that are present already*
[code]

Lets assume that your SwiftUIView looks like this:

[code]

So configuration to present it within tab bar will look like this:

[code]

[2020-03-24 20:39] ekazaev commented on #53
You can check out the example project here:
`https://github.com/ekazaev/route-composer/tree/chore/swift-ui-support`

Please keep in mind that I just applied the stash I had. But similar factories/finders will be available in the library later. So you will be able to replace your implementations with the library ones.

[2020-03-24 20:43] ekazaev commented on #53
@vBoykoGit Please let me know if you'll need further help

[2020-03-25 10:32] ArtSumin commented on #51
Thank you

[2020-03-25 10:32] #51 closed

[2020-03-28 16:01] ekazaev commented on #53
@vBoykoGit
Closed due to inactivity.

[2020-03-28 16:01] #53 closed

[2020-04-28 09:00] WingedDoom opened #54 "Make NavigationDelayingInterceptor context generic"
Method `.adding(...)` requires that `RI.Context == C`, which means factory and interceptor context types should be equal.

This, however, is not always possible with current implementation of `NavigationDelayingInterceptor`, which has `Context = Any?`.

Adding a generic parameter `Context` to `NavigationDelayingInterceptor` would fix the problem, and it seems easy to do, though I'm not sure how di

[2020-04-28 09:50] ekazaev commented on #54
@WingedDoom Good catch. Will do it asap. Thank you

[2020-04-28 09:55] ekazaev commented on #54
@WingedDoom I have only one question. I did not expect that this intercepter might be applied to the particular chain of steps. I expected it to be applied to the router once as if that issue exists - it is global to the application.

[2020-04-29 10:14] #54 closed

[2020-07-24 09:33] clementleys opened #57 "Pass a different type of context to children"
Hello,
I would like to push a viewController from another but with different contexts. I can't figure out how to do this.
I have a first screen embedded in my tabBar:
[code]

And I am trying to push a second viewController from it:
[code]

But I have an error because `FirstContext` and `SecondContext` are not the same.
Is there a way to solve this case ?

Thank you.

[2020-07-24 10:52] ekazaev commented on #57
Hi @clementleys .

This is a quite often question. I probably should put it in to FAQ.
So basically you need to understand how much type safety you need and how your screens are being build in dynamics.

So basically if second view controller is never being build dynamically with the first one you can use `firstScreen.expectingContainer()` and it will allow you to avoid the type check. According t

[2020-07-24 11:09] ekazaev commented on #57
@clementleys Some other examples can be found here https://ekazaev.github.io/route-composer/examples.html

[2020-07-24 11:29] ekazaev commented on #57
@clementleys Basically, for the Router all the contexts are `Any?`. So Router itself does not care about the type. But when it comes to passing the context back to your `Factory` or `UIViewController` the Router will try to convert that context back to the type required for that entity. If it fails to do so - navigation stops. Also it helps you to know which type of context you have to use to go t

[2020-07-24 12:27] clementleys commented on #57
Ok, thank you for your reactivity ! :-) It makes sense, but in my case I just need to push the second view form the first.

I already tried `firstScreen.unsafelyRewrapped()`, it compiles but when I call `navigate(to:)` it does nothing.
If I put `Any?` as Context type for `firstScreen` it works like a charm but it does not with `FirstContext`...

To be more precise: I am using Context to pass a vie

[2020-07-24 17:14] ekazaev commented on #57
@clementleys Can you please switch logging to the `verbose` mode and copy/paste the  logs here - so I can tell you what is the issue there.

But you need to bear in mind that `Context` is not for view models. Its a payload that you need to pass to be able to build the next screen. Like if in product array screen I select a product I will pass productID to the next screen. It is a context of the Pr

[2020-07-26 14:49] clementleys commented on #57
Ok, so I thing I have created contexts and I use them to create the viewModel in the factory.

The error is:
[code]

So it compiles and run but the problem is still there.

[2020-07-27 10:54] ekazaev commented on #57
@clementleys
It seems that you have the second case. Router clearly says `FirstViewControllerFinder does not accept SecondContext() as a context.`
Here you need to understand if your contexts are connected or not. The way your configuration is written now mean that they are connected. It is easier to think about the configuration from the position of the universal links, it gives more clear view o

[2020-07-27 11:15] ekazaev commented on #57
I would also recommend to review your contexts in general. It is not clear for me why the very first view controller within tab bar has some context. I can not properly imagine such situation. But if it is lest say some `currentlyLoggedUserID` then it in not a `context` of such view controller and it is incorrect. It is not the information that is being passed between the navigation stacks. It is

[2020-07-27 11:24] clementleys commented on #57
Ok I understand. If router needs to create the first screen, it needs to know his context. It makes sense.

Not sure to understand your last message. You mean the FirstViewController is already in the TabBar so it just needs to be initialised when added but we don't necessarily need to propagate context in the navigation to display it. Am I right ?
But if I want to navigate to this tab, I could ad

[2020-07-27 11:45] ekazaev commented on #57
@clementleys About my second answer. Think about next situation. You need to build a tab bar with 4 tabs in it
1. HomeViewController
2. MenuViewController
3. AccountViewController
4. BagViewController

If they all have different contexts e.g. `HomeViewController` has `homeID: String` and `AccountViewController` has `accountId: UUID`. Imagine your user is on some `OnboardingViewController` and he t

[2020-07-27 12:14] ekazaev commented on #57
@clementleys Think about it this way: For the Router your app is a black box. It doesnt know what is inside. It can not check anything it can not see what is inside your story boards for example. This is why it is able to work in parallel with any other navigation that you may have in your app.

Each navigation is the single granular and granular process. Router requires only 2 things to make it h

[2020-07-27 14:11] clementleys commented on #57
Ok thank you very much. I understand the way it works now !
Congratulations for this library, this is a very interesting concept 💯

[2020-07-27 14:50] ekazaev commented on #57
@clementleys Thank you very much. Really appreciated.
I can also add that I know two companies that are using this library and they download their navigation configuration from the kind of CMS. So their nvigation pattern is dynamic. So they consider everything to be just a `UIViewControler` without type and keep the context as dictionary. But I assume that your business needs are not as complicate

[2020-08-07 17:30] trimonovds opened #58 "Hot to close screen/module using Router"
Hello! I am facing a problem using RouteComposer in my application. The problem is that the library allows you to define a way to open an arbitrary screen from anywhere in the application, which is awesome, but I did not understand how can i use the library (DefaultRouter) to close a screen that is open in this way. Let me give you an example

I have a default "Login" screen defined as:
`let login

[2020-08-07 17:59] ekazaev commented on #58
Hi @trimonovds

Sorry I am answering from my phone. Hopefully I understood the question right. So, the route composer does build parts of the view controllers graph. What it knows and can observe is only that is present in the graph and it cant do magic.

At first glance you have 2 options :

1. You can use some custom proxy finder `MyLoginFindingFinder(for: ClassFinder<Whatever>())` that finds th

[2020-08-12 10:22] #58 closed

[2021-01-22 09:50] bimawa commented on #57
@ekazaev
We got the same problems. In our case, we should open any screens from any other screens. But with context. And its looks like our screens depends on context hierarchy chain.
Maybe can we use something for open second screen with second context from any first screen/context? Or it is feature request?

[2021-01-22 10:17] ekazaev commented on #57
Thank you for the question @bimawa
I think I dont fully understand the context of the question

Do you mean that you want to be able to randomly chain anything with anything and pass different payload to each of those view controllers?

Well, you dont need a feature request for it. I know a company that downloads the layout of the app from the cloud. So they already doing that. Just make the conte

[2021-01-22 12:01] ekazaev commented on #57
Issue is closed after the private conversation. In general case `from(GeneralStep.custom(using: ClassFinder<UINavigationController, Any?>()).adaptingContext())` should be used. There are few screens where composite context should be used.

[2021-01-22 12:01] #57 closed

[2021-01-28 00:04] Elaz-viz opened #63 "Assertion fires in UIKit app when built for previewing SwiftUI View"
When integrating a SwiftUI view in an existing UIKit app, the preview hangs and errors with timeout. The diagnostics point to this crash:
https://github.com/ekazaev/route-composer/blob/8eeab58be64ef6d7a81f59b77f759a7618173df4/RouteComposer/Classes/Finders/Stack%20Iterator/KeyWindowProvider.swift#L29
Commenting out the assertion (and just returning nil) clears the issue and the preview works, but I

[2021-01-28 11:21] ekazaev commented on #63
@Elaz-viz Hmmm. I did not really use it with the SwiftUI. I just created some support as a proof of concept.
How does window provider gets involved in the SwiftUI preview? Do you have some kind of a stack trace or an easy way how I can reproduce it in the Example app?
In general I would prefer to keep that assertion, because saved me a lot of time debugging.

[2021-02-08 11:14] ekazaev commented on #63
@Elaz-viz Hi. Do you have any update on this issue?

[2021-02-08 14:24] josh150 commented on #63
I'm using SwiftUI to add new views to a UIKit app and haven't experienced this problem. Launching a preview shouldn't have anything to do with Route Composer, perhaps you have logic running in your app/scene delegates which is being triggered? I had to setup my auto-logout session management so that it wasn't activated while in preview mode by checking for `ProcessInfo.processInfo.environment["XCO

[2021-02-08 14:29] Elaz-viz commented on #63
@josh150 Actually the app is still using app delegates and not scene delegates - which might be the issue. I haven't tried yet (@ekazaev) but I need to setup a sample project for this with an app delegate.

[2021-02-08 14:36] Elaz-viz commented on #63
@josh150 also, This probably happens on app delegate lifecycle apps, where there's a call to routing on the didFinishLaunching... method, but setting up the project takes time...

[2021-02-08 15:30] ekazaev commented on #63
@Elaz-viz Can you see some kind of stack trace during the preview? I dont fully understand who asks for the window from `KeyWindowProvider` during the preview.

[2021-02-08 22:56] ekazaev commented on #63
@Elaz-viz @josh150
I wanted to add that thing long time ago. So probably it is the right moment. Here is the PR.
https://github.com/ekazaev/route-composer/pull/64
In the new version it will be possible to provide default configuration at one place, so @Elaz-viz will be able to change `KeyWindowProvider` to the one that doesnt throw an assertion. It is still strange to me that it happens. But I thi

[2021-02-09 19:54] ekazaev commented on #63
@Elaz-viz I released new version 2.7.0. You can write a `WindowProvider` that suits you and propagate it everywhere using `RouteComposerDefaults`. It should help you. On other hand - if you can provide more details, Ill try to investigate it better.

[2021-02-09 19:54] #63 closed

[2021-06-02 04:44] toanbuidjv opened #65 "[Help] Support set root controller direct in AppDelegate"
I want to create project, ViewController with xib file ( not use storyboard), embed with UINavigationControlller
Could you support set root controller direct in AppDelegate and support better with xib file  (not use storyboard) ?
Example:
`func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
RouteComposerDefau

[2021-06-03 09:36] ekazaev commented on #65
@toanbuidjv Hi, Sorry. I did not really understand your question? Do you want me to help you to setup a project or you want me to use XCoordinator?

[2021-06-04 01:57] toanbuidjv commented on #65
I using XCoordinator, feel simple, easy, low code and when switch to "route-composer", feel so hard. Coud you make library to simple, easy understand, full document like XCoordinator?

[2021-06-04 09:11] ekazaev commented on #65
Thank you for your feedback. I assume that you found your ideal library. There is nothing wrong with XCoordinator. Just keep using it.

[2021-06-04 09:11] #65 closed

[2021-07-17 14:44] snowtema opened #66 "Constructing routing in the app"
Hi,

What if I want to create a TabBar application and don't want to use Storyboards. How can I assemble configuration?

[2021-07-19 08:59] ekazaev commented on #66
Hi @snowtema

you can build and integrate you Uitabbarcontroller the way you like. You can build it even manually and set it as a rootViewController of your view. Routcomposer just sits outside of your app structure and when you need to navigate somewhere it will update the graph of your view controllers according to the configuration you passed to the navigate method.

[2021-07-19 09:04] ekazaev commented on #66
@snowtema
One of the way can be:
‘’’
let factory = CompleteFactoryAssembly(factory: TabBarControllerFactory())
                    .with(ClassFactory<HomeViewController, Any?>(), using: UITabBarController.add())
                    .with(ClassFactory<AccountViewController, Any?>(), using: UITabBarController.add())
                    .assemble()

let tabBarController = factory.build()
window.rootV

[2021-07-19 09:09] ekazaev commented on #66
@snowtema please let me know what is confusing you

[2021-07-20 11:04] ekazaev commented on #66
@snowtema Closing due to inactivity.
Feel free to reopen if you'll have any questions.

[2021-07-26 09:55] snowtema commented on #66
Hi, @ekazaev
I tried code from your link (examples) and got this:

My tab bar configuration:
[code]

On another screen (Splash) I call `router.commitNavigation(to: ConfigurationHolder.configuration.tabBarScreen, animated: true, completion: nil)` and tab bar items were set in view controller's `viewDidLoad`, and that's why I didn't see the Second tab while I don't click on it. The question is how I

[2021-07-26 10:25] ekazaev commented on #66
@snowtema That is the expected behaviour of viewDidLoad. The second view was not loaded, because it is not necessary until user actually switches to this tab. It is default and expected behaviour of the `UITabBarController`. You need to set up your title and tab bar items either in init method of the view controller or in the custom factory for your view controller. You can try to use the `configu

[2021-07-26 10:33] snowtema commented on #66
Okay, thanks. I'll try this.
Also, I found in `TabBarControllerFactory` initializer `configuration` param. Can I use it for this?

[2021-07-26 10:39] ekazaev commented on #66
You can, but then you are bringing knowledge of what is inside of tab bar to the tab bar factory, which kinda breaks encapsulation principle.

[2021-07-26 10:44] snowtema commented on #66
I'm trying to move from RxFlow to a better solution and found yours.  At first sight, it looks more complex but more configurable :)
Anyway, many thanks!

[2021-07-26 10:47] snowtema commented on #66
Btw, factory solution works great )

[2021-07-26 11:14] ekazaev commented on #66
@snowtema Happy to hear. Please don't hesitate to ask any questions you may have regarding the library

[2021-08-18 06:29] bagusandinata opened #68 "need enlightenment from heaven"
RouteComposer was awesome, I switched from RxFlow. I'm slowly understanding RouteComposer, can you provide an example/code how to support navigation with below scheme

root(UINavigationController) -> Login -> Register Email -> Register Final (completed some field)

if register final submit and success, I want to back navigation to **_Login_**, can i use RouteComposer ?

or

just check

} else {
na

[2021-08-18 23:05] ekazaev commented on #68
Hi @bagusandinata

Thank you very much. You dont really need to do what you wrote in the code snippet. You should be able to call login configuration directly and it should bring you back to login - basically router will do the pop action for you.

Can you please provide the StepAssembly how your Login view controller is configured?

[2021-08-19 04:14] bagusandinata commented on #68
.with(OnboardingControllerFactory(), using: AppearanceNavigationController.push())
        .assemble()

        StepAssembly(finder: NilFinder(),
                     factory: LoginControllerFactory())
            .using(AppearanceNavigationController.push())
            .from(GeneralStep.custom(using: ClassFinder<AppearanceNavigationController, Any?>()))
            .assemble()
    }

        Ste

[2021-08-19 06:35] ekazaev commented on #68
@bagusandinata NilFinder is the reason you can not reuse your configuration to return to LoginViewController. Router can not find existing view controller in the stack and will create another one. Change it to ClassFinder for example, and you will be able to return from RegisterCompleteViewController Back to Login view controller just by calling this configuration again. Router uses finder of ever

[2021-08-20 05:16] bagusandinata commented on #68
whoaa thanks @ekazaev !!!

it's simple when implemented. Maybe later I'll come back again if I have any questions, one more time your library is amazing 😀

[2021-08-20 05:16] #68 closed

[2021-08-20 08:40] ekazaev commented on #68
@bagusandinata You are welcome. Surely. Ill try to help if you'll have any other questions

[2021-09-03 09:48] snowtema commented on #66
Hi again! @ekazaev

I wanted to display a tab view controller with two tabs (Today and Account), and the account should lay down in the navigation controller?

How I can change my configuration to support Navigation in Account vc?
[code]

[2021-09-03 13:34] ekazaev commented on #66
Hi @snowtema
if you are using composable factory aproach then just replace AccountFactory with another CompleteFactoryAssembly that will create a navigation controller with the Account factory inside

[2021-09-03 14:09] ekazaev commented on #66
Example from one of the tests:

[code]

[2021-09-03 17:36] ekazaev commented on #66
@snowtema I added a `CompleteFactoryAssembly` example for you. Please check `InternalSearchConfiguration` in the latest master.

[2021-09-04 18:17] snowtema commented on #66
Thanks, will try this

[2021-09-04 18:55] snowtema commented on #66
It works, many thanks.

[2021-09-04 18:55] #66 closed

[2021-09-05 02:31] ekazaev commented on #66
@snowtema You are welcome.

[2021-09-17 20:26] hatched-cory opened #70 "Usage help: switch-based navigation"
I am making this issue to ask for advice, this is not a bug report :)

I'm trying to wrap my head around this library to see if we can use it in production apps. I think it's brilliant but its so different from what I am used to that my brain is a little rusty.

Here's an example app structure I have:

[code]

I have another controller, the search controller, that I can present from either the hom

[2021-09-20 09:23] ekazaev commented on #70
Hi @hatched-cory

Sorry for the late reply. I am on the short break from work.

I cant exactly check your code right now, but I can only play it in my head. But it looks valid to do what you expect.

Few notes though:
1. if the search controller is visible on screen, just use that and change its context
If you are using default Finder and Factory - youll meet either use https://ekazaev.github.io/r

[2021-09-20 18:12] hatched-cory commented on #70
@ekazaev thank you so much for your reply! Your advice was extremely helpful and is working great. I am feeling more and more confident with this library - and more confident that it is so much better than old-style coordinator pattern. Thanks so much for writing this code :)

One last question - what is the recommended way of setting up steps that don't have a context or rather don't care about c

[2021-09-20 18:51] ekazaev commented on #70
@hatched-cory you are very welcome. Yep its a bit tricky at the beginning but simplifies thing a lot. Just uses different abstractions.
And yes. If you want to say that this particular step doesn’t care about context you need to declare it as Any? Which can represent both any value or nil.

[2021-09-22 09:34] ekazaev commented on #70
@hatched-cory I am closing this issue as it seems you are satisfied with the answer. Feel free to reopen it or a create a new one if you have other questions. Best of luck

[2021-09-22 09:34] #70 closed

[2021-10-25 10:38] beginner-byte opened #72 "How to reverse transfer values between controllers"
I can't update the superior controller of controller B. please guide me how to do it

[2021-10-27 11:19] #72 closed, assigned to ekazaev

[2021-11-05 03:52] wwdc14 opened #74 "Can a custom init function be added to `NavigationControllerStep` & `TabBarControllerStep`?"
I have a `CustomNavigationController` must be call custom init function, but `NavigationControllerStep` does not provide custom initialization. Now i have to Now I have to re-instantiate `SingleContainerStep` to use the custom initialization function

Or you can set the access permission of `NavigationControllerStep` to open. I can override it.

Do you have any good ideas?

[2021-11-05 12:04] ekazaev commented on #74
@wwdc14 Hi
I see your point but technically this is exactly what is `SingleContainerStep` for and this is expected. Because you can be not happy with the factory or a finder there. So `SingleContainerStep` step allows you to configure both of them the way you want.
I am very against any inheritance it this case, so I reserved it to be used only within the library.
If you want to be able to write y

[2021-11-05 12:23] wwdc14 commented on #74
Awesome! thanks

[2021-11-05 12:23] #74 closed

[2022-01-14 12:17] Ostroverkhov opened #79 "Custom navigation using setViewControllers(_:animated:)"
Есть UINavigationController, который содержит 5 контроллеров: 1->2->3->4->5.
Я хочу добавить еще один после 2, т.е. должно получится так: 1->2->6.

В текущей реализации сначала происходит сброс до 2 контроллера, а потом переход на 6, что выглядит не очень красиво.

Подскажите, пожалуйста, как можно это решить?

[2022-01-14 14:18] ekazaev commented on #79
@Ostroverkhov Добрый день

Обычно, это как раз поведение которого все хотят :) так как оно более наглядно показывает пользователю что же происходит, вопрос красивости довольно субъективен :). Ну да бог с ним. Если, по какой то причине, вы хотите сделать свое поведение, то нужно посмотреть в сторону Action. Эта сущность отвечает за модификацию текущего графа вью контроллеров.

Возьмите за образец P

[2022-01-14 16:28] Ostroverkhov commented on #79
@ekazaev Спасибо за ответ)
Да, Вы верно меня поняли)

Адаптировал код выше под себя, но что-то не удалось добиться нужного эффекта(
В этой строчке я уже получаю нужный массив:
`var viewControllers = navigationController.viewControllers`

И получается этот код не выполняет никакой работы:
[code]
И в итоге поведение не отличается от UINavigationController.push().
Пока не могу понять где у меня ошибк

[2022-01-14 17:57] ekazaev commented on #79
@Ostroverkhov Если вы уже получаете нужный массив значит он уже сформирован вашей конфигурацией. Обратите внимание на предыдущий шаг. Он уже выполнился к этому моменту и сфрмировал вам нужный массив. Вам нужно его изменить. Вам нужно что бы предыдуший шаг просто отдавал вам UINavigationController

Вместо `.from(homeScreen.expectingContainer())`  должно быть что то вроде допустим `        .from(Gen

[2022-01-16 18:06] Ostroverkhov commented on #79
@ekazaev Спасибо! Теперь все понятно

[2022-01-16 22:22] ekazaev commented on #79
Hope you are satisfied with the result. Feel free to reopen the issue or create a new one if you’ll have another issue.

Надеюсь, Вы дальше разберетесь, но если будут еще вопросы, или переоткройте эту задачу, или, если это не связано, создайте новую.

[2022-01-16 22:22] #79 closed

[2022-05-04 15:30] bagusandinata opened #81 "Modular Architecture"
hi @ekazaev, may i have some enlightenment how to implement RouteComposer in Modular Architecture? I ran into a deadlock in unclean code and how to interaction of each module feature 😅

[2022-05-05 10:10] ekazaev commented on #81
@bagusandinata Can you help me to understand something. Do you have every screen in a separate module? If so, then make a Context object and a ViewController public. But DefaultRouter should stay in the main app I assume, if those modules need some navigation - they also need to expose some routing delegate that will be implemented in the main module and below will call Default Router

[2022-05-08 13:09] bagusandinata commented on #81
Thanks @ekazaev , I get it 😁 I forgot to check the example, apparently there is a modular implementation

[2022-05-08 13:09] #81 closed

[2022-06-02 14:12] tadelv opened #82 "How to change root view controller using LoginInterceptor and then continue navigation"
Hi!

I am trying to understand how to compose the navigation for the following case:

- user taps on deep link outside the app (cold boot) to a destination behind a login interceptor
- app opens on splash (landing) and navigates to login (due to interceptor)
- **login succeeds, root is changed from splash to home**
- destination is shown

I've tried to navigate to home in the interceptor, but the

[2022-06-02 14:36] tadelv commented on #82
I forgot to add that i would like the destination to open from either the circle view controller or from anywhere the user is currently on (and logged in)

[2022-06-02 15:16] ekazaev commented on #82
@tadelv

Thank you for the question. I am not able to reply right now as I am not by the computer. Ill try to answer your question asap.

[2022-06-02 18:43] tadelv commented on #82
Thank you,
There is no rush. I am just getting to know this framework, so it might be
I am trying to tackle this problem from the wrong angle. Let me know if you
need any additional clarification.

On Thu, 2 Jun 2022 at 17:16, Eugene Kazaev ***@***.***> wrote:

[2022-06-03 08:28] tadelv commented on #82
@ekazaev I think I have found a way to do it. Find the diff below. Is this the right way to go about it?
I am using a SwitchAssembly to determine the source controller based on the login status of the user.

[code]

[2022-06-13 08:37] tadelv commented on #82
Hey @ekazaev, just pinging, are you still away from the computer? :)

[2022-06-13 16:04] ekazaev commented on #82
Hey. Sorry. I am on vacation. Will be back tomorrow 🥹

[2022-06-13 18:58] tadelv commented on #82
Ooops! Sorry for bothering you then 🙈

[2022-06-15 13:02] ekazaev commented on #82
@tadelv Sorry for the delay.
If I understood your question correctly here you hit a limitation of the logic. It first searches for the view controller to start as configuration may be incorrect or you can be already on the screen that requires login (and if you are already there it is pointless to show login right?), then if it found the appropriate view controller to start it runs all the gloably

[2022-06-17 09:13] tadelv commented on #82
Hey @ekazaev thanks for taking the time to write this exhaustive answer.

Let me see if I got it right: The global interceptors run before router decides which will be the originating (root) view controller? So this means, they can change the view controller hierarchy before origin VC is selected?
I assume this will definitely be cleaner than the current solution. But on the other hand, I could pa

[2022-06-17 10:43] tadelv commented on #82
Just a quick update - I was able to get it to work the way you proposed, using a GlobalInterceptor and replacing the root view controller in there.

[code]

[2022-06-26 16:56] ekazaev commented on #82
@tadelv  are you happy with the result?
I am really sorry for the late replies. I have nine weddings to attend this year so my availability is terrible 🥹

[2022-06-27 08:03] tadelv commented on #82
Hey @ekazaev,
I think I have what I need. I was only researching the approaches in the example app in this repo. When I start using route-composer in the production app, I will decide whether to use the configuration approach or the GlobalInterceptor. I think it will depend whether I will have many configurations and whether I can provide different contexts for the interceptor.
But for now, my que

[2022-06-28 08:39] #82 closed

[2022-06-29 13:24] snowtema opened #83 "Change tabs in TabBar in runtime"
I use this code to init tab bar with 3 tabs – `First`, `Second` and `Profile`:

[code]

After the user opens the `Second` tab bar the first time and finished some flow, how can I change in runtime `Second` flow for the second tab to another flow, like `Second_v2`?

[2022-06-29 19:24] ekazaev commented on #83
Hi @snowtema

Sorry, I don't think I fully understood the question. Do you want to replace the view controller in the second tab?

[2022-06-30 05:43] snowtema commented on #83
Hi @ekazaev, thank you for the fast response!
Yeah, exactly

[2022-06-30 09:29] ekazaev commented on #83
@snowtema at the end of the flow you can call something like this:

[code]
You can write your own more advanced `UITabBarController.add(...)` action the will take instead of index a finder of the view controller that needs to be replaced to be independent from the numeric indexes.

One thing to keep in mind, is that if which view controller should appear in the second tab depends on some flag, you

[2022-06-30 09:55] snowtema commented on #83
Thank you a lot! Will do this soon

[2022-07-01 04:38] snowtema commented on #83
@ekazaev  It works perfectly! But is there any way to replace view controller for `UITabBarController` without navigating to it immediately? Like when the user finished some flow and then manually opens the second tab, he will see a new view controller there.

[2022-07-01 10:09] ekazaev commented on #83
@snowtema Then youll have to do it manually. Basically youll have to do what the router would just without navigation. Use a finder to find a TabBarController then use a factory and replace it.

[2022-07-04 15:03] #83 closed

[2022-10-27 23:22] bennnjamin opened #84 "Best way to hide a side menu when no action is taken by the Router"
I have a Side Menu which is essentially a Container View Controller that has a Menu Controller (never really changes) and a Content Controller. Whenever a menu item is selected, it replaces the main content on the screen, with a new Content View Controller. My issue is when the user opens the side menu, and selects the current menu item, no action is taken by the Router because the Content View Co

[2022-10-27 23:32] bennnjamin opened #85 "When and why to define Steps as computed property, static var, static func and let"
I am new to this library and looking through the Example Project is a great place to start, it's very well documented. One thing that I have had trouble understanding and doesn't seem obvious is why Steps are defined in a variety of ways. Sometimes they are static vars/funcs, sometimes they are computed properties, and sometimes they are let constants.

What is your thinking in using these differe

[2022-10-28 10:53] ekazaev commented on #84
@bennnjamin

Hi,

Id say there are multiple places where you can do it. Both places are correct technically. But I would probably add a global interceptor to the router instead. Which uses a ClassFinder to find your SideManuContainerController and if it is showing the Menu at this moment - hide it (animated or not) and only then continue the animation. That will cover all the possible cases includ

[2022-10-28 11:01] ekazaev commented on #85
@bennnjamin

TBH the Example project is just a demo, not an example of some kind of best practice. For me it was important to show that you can store the routes in variables, they can be dynamically updated and so on.

I presonally create a protocol that I call `Wireframe` as basically entire app is dependent on it. Something like:
[code]
It may have some smaller wireframes inside for the smaller

[2022-10-28 14:57] bennnjamin commented on #84
Thank you, that's a good idea I hadn't considered. I will close and reopen if I have issues with it but think I can get it working by referencing the example project.

[2022-10-28 14:57] #84 closed

[2022-10-28 15:09] bennnjamin commented on #85
Yeah I am definitely looking for a best practices approach as I would like to use this in a medium-scale production app.

The protocol approach seems good but I have a couple questions on some of the specifics:

1. Do you still define your ```Steps```/```DestinationStep``` objects in a central Configuration file, or are they defined in the protocol implementation? If they are in the protocol imple

[2022-10-28 15:13] ekazaev commented on #85
Hi @bennnjamin

1. I usually define steps right in the implementation of the method in the class that implements the `Wireframe`. Something like this:

[code]

[2022-10-28 15:34] ekazaev commented on #85
2. Yes. You can reference another destination steps. `.current()` basically returns you a custom destination step. Have a look into the source code and youll see this:
[code]

But you can use any other destination step and build longer chain.

Why it can be needed? Like when you want to present something from some particular view controller. Not from just current.

Let say you have 2 view controll

[2022-10-28 15:53] ekazaev commented on #84
@bennnjamin

Check the usage of `ContainerViewController` and `ConcreteContainerAdapter` protocols in the example app as your Slide menu is potentially a custom container view controller. Possibly you want to adapt them.

[2022-10-31 17:38] bennnjamin commented on #85
Thanks, this is a really thorough explanation. I will need to do that exact example that you mentioned with showing a specific tab in a tab bar from anywhere in the app. I will work on it more this week and reach out if I have any more questions I like your approach a lot and will try to do something similar using the Wireframes.

[2022-10-31 18:23] bennnjamin commented on #85
That article was actually how I found this project. I was looking at RxFlow and saw some stale github issues and your article completely convinced that this is the best navigation library for iOS.

[2022-10-31 23:19] ekazaev commented on #85
@bennnjamin Happy to help. Ill close this issue then. Feel free to reopen it or create a new one. Best of luck.

[2022-10-31 23:19] #85 closed

[2022-11-10 00:52] bennnjamin opened #86 "Why can't the second step in a UINavigationController use a different context than the first step?"
My goal is to setup a navigation controller and have a series of view controllers that I can push onto the navigation controller stack. I feel like I'm missing something obvious because this should be very simple. I'd like to pass a unique identifier `Int?` to the first view controller, instead of using `Any?` as the context.

[code]

This does not compile, the compiler complains that it can't con

[2022-11-10 14:27] ekazaev commented on #86
@bennnjamin  Hi

Partially I covered that part in my previous answer. You must use the same context if you are building both view controllers simultaneosly. Like lets say you need to build a hotel view controller and a room view controller within the same navigation controller simulateneously. So in this case youll need both hotelId and roomId to be present in the context. It is not a limitation o

[2022-11-10 17:04] bennnjamin commented on #86
Do you mean you are using a top-down approach to pass all necessary variables in the Context from a parent view controller to all child view controllers? For example, if this is a deeply nested navigation controller with 4-5 screens that all require contexts, I would need to pass the same context to each view controller, and each view controller will only use the property in the Context that it ne

[2022-11-11 11:39] ekazaev commented on #86
@bennnjamin

Lets abstract from view controllers. Just theoretically. If you want to show a hotel and a room **simultaneously** you need this 2 ids at the very same moment. Nothing to do with view controllers. Just logic. Now lets return to what you potentially want to do. You probably want when user clicks on the hotel in the hotel list - present a hotel view controller. And when user clicks on t

[2022-11-11 11:48] ekazaev commented on #86
@bennnjamin

Please read this 2 answers as well. Hope they will give some clarification:
[1](https://github.com/ekazaev/route-composer/issues/57)
[2](https://github.com/ekazaev/route-composer/issues/52)

[2022-11-11 18:18] bennnjamin commented on #86
Ok I am starting to understand a lot more. I thought that chains were the way to link between specific view controllers but it seems correct way to do that is with ```.from(GeneralStep.custom(...))```.

I understand the part about the `Context` now too. But now I have more questions mostly regarding deep linking and deep navigation:

1. In the first example, what happens during a deeplink if the `

[2022-11-11 18:36] bennnjamin commented on #86
I should also add that the primary reason I was reference the previous `Step` is that I am trying to make a `TabBarController` similar to your Example project, and in order to navigate between tabs you have your Steps reference the `Step` that builds the `TabBarController`

[2022-11-11 22:34] ekazaev commented on #86
@bennnjamin

Ill try to answer your questions if I understand them correctly:

1.
[code]
Of course here we are making an assumption that it exists somewhere in the current view controllers stack. Usually it is so.  But if you know that you can be in the situation that it may not exist. Lets say user is on some welcome screen and you dont want to switch the entire app to tab bar until user finishes

[2022-11-11 22:58] bennnjamin commented on #86
Thanks for you answer, each time I understand a little bit more. You have some example code that I am a little unfamiliar with that I added the comments. Primarily why is it necessary to use `SingleStep` instead of `GeneralStep.custom`?

[code]

I have worked on integrating your second example code and it seems to work well to switch between view controllers in a tab bar using the router. It's a g

[2022-11-11 23:20] ekazaev commented on #86
Just because `GeneralStep.custom` allows you to provide only a `Finder` but not what to do in case it wasn't found.

`RouteComposer` is fully disassmblable. In case your rare case is not covered you can always write your own absolutely custom `Step` and `Action`. But I dont think it will be needed.

I am not trying to say that presenting modally is the right approach. But as many deep-links I saw

[2022-11-11 23:49] bennnjamin commented on #86
Sounds good, thanks for your help.

[2022-11-11 23:49] #86 closed